
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import "bootswatch";

nav.navbar {
  margin-bottom: 25px;
}

.alert {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.page-item .page-link {
  font-family: $font-family-alt;
}

.form-group.form-inline {
  select {
    margin: 0 10px;
  }
}